<a href="https://colab.research.google.com/github/codekshitij/coursera/blob/main/coursera.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# My Data Science Notebook

## Introduction

This notebook is a collection of exercises and examples related to data science and programming.

## Data Science Languages

1. Python
2. R
3. Julia
4. SQL
5. SAS

## Data Science Libraries

- NumPy
- Pandas
- Matplotlib
- Seaborn
- Scikit-Learn

## Data Science Tools

| Tool            | Description                     |
|-----------------|---------------------------------|
| Jupyter Notebook| Interactive Data Science        |
| RStudio         | Integrated R Development        |
| Tableau         | Data Visualization              |
| SQL            | Database Querying and Analysis  |

## Arithmetic Expression Examples

In the following code cells, we will explore some basic arithmetic expressions.

In [ ]:
# Multiply and Add Numbers
result = (5 * 3) + 7
result

In [ ]:
# Convert Minutes to Hours
minutes = 120
hours = minutes / 60
hours

## Objectives

- Learn basic data science concepts.
- Practice arithmetic expressions.
- Explore data science tools and libraries.

Kshitij Mishra